= form_for(@job) do |f|
  %fieldset
    %legend JOB DETAILS
    .field
      = f.label "Job title" 
      = f.text_field :title
      .hint Something like: "C# developer" or "Experienced Database Admin" 
    .field
      = f.label :location
      = f.text_field :location
    .field
      = f.label :description
      = f.text_area :description
    .field
      = f.label :application_instructions
      = f.text_area :application_instructions
  %fieldset
    %legend COMPANY DETAILS
    .field
      = f.label :company
      = f.text_field :company
    .field
      = f.label :company_link
      = f.text_field :company_link
    .field
      = f.label :company_email
      = f.text_field :company_email
  = f.submit "Create Job Posting" 
