= form_for(@job) do |f|
  = f.text_field :title
  = f.text_field :location
  = f.text_field :description
  = f.text_field :application_instructions
  = f.text_field :company
  = f.text_field :company_link
  = f.text_field :company_email
  = f.submit "Create Job Posting" 
